 /* 這要給nav放背景圖用的
    background-image: url(images/title.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    */
    .page-section h2 {
        font-weight: bold;
      }
  
      .info-section {
        margin-bottom: 20px;
      }
  
      .title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .subtitle {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
        position: relative;
        margin-left: -5px;
      }
  
      .subtitle::before {
        content: "✦ ";
        font-size: 1.2em;
        margin-right: 5px;
        display: inline-block;
      }
  
      .dot::before {
        content: "▪ " ;
        font-size: 1em;
        margin-right: 5px;
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        text-align: center;
      }
  
  
  
      .diamond.subtitle {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
        position: relative;
        margin-left: -8px;
      }
  
      .diamond.subtitle::before {
        content: "💎 ";
        font-size: 1em;
        margin-right: 5px;
        display: inline-block;
      }
  
      .subtitle.text {
        margin-bottom: 10px;
        text-align: center;
      }
  
      .important {
        color: var(--bs-primary);
        font-weight: bold;
      }
  
      #msg-text {
        font-weight: bold;
      }
  
      #map {
        justify-content: center;
        /* 水平置中 */
        align-items: center;
        /* 垂直置中 */
      }
  
      #map iframe {
        border-radius: 10px;
        /* 讓地圖顯示有圓角效果 */
        width: 100%;
        /* 設置地圖寬度為100% */
        max-width: 100%;
        /* 確保地圖不會超出容器 */
        height: 450px;
        /* 設置固定高度 */
      }
  
      .invalid-feedback {
        display: none;
      }
  
      .was-validated .form-control:invalid~.invalid-feedback,
      .was-validated .form-select:invalid~.invalid-feedback {
        display: block;
      }
  
      #map .container {
        max-width: 1200px;
        /* 設置容器的最大寬度 */
        margin: 0 auto;
        /* 使容器水平居中 */
      }
  
      @media (max-width: 768px) {
        #map iframe {
          height: 300px;
          /* 在小屏幕上設置地圖的高度 */
        }
      }
  
      .loading-icon {
        display: none;
        margin-left: 5px;
      }
  
      .btn.loading .loading-icon {
        display: inline-block;
      }
  
      .btn.loading .btn-text {
        display: none;
      }
  
      /*-驗證樣式修改-*/
      .was-validated .form-control:valid,
      .form-control.is-valid,
      .was-validated .form-select:valid,
      .form-select.is-valid {
  
        border: 1px solid #ced4da !important;
      }
  
      .was-validated .form-control:valid,
      .form-control.is-valid,
      .was-validated .form-select:valid:not([multiple]):not([size]),
      .was-validated .form-select:valid:not([multiple])[size="1"],
      .form-select.is-valid:not([multiple]):not([size]),
      .form-select.is-valid:not([multiple])[size="1"] {
        background-image: none !important;
      }
  
      .was-validated .form-control:invalid,
      .form-control.is-invalid {
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
      }
  
      .form-check-input:checked {
        background-color: var(--bs-primary) !important;
        border-color: var(--bs-primary) !important;
      }
  
      .invalid-feedback {
        display: none;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.875em;
        color: #e46a76;
        font-weight: bold;
      }
  
      .modal-img {
        border-radius: 50px;
        width: 280px;
        height: auto;
        text-align: center;
        margin: 1rem auto;
        display: block;
      }
  
      .primary-bg-block {
        display: block;
        background: #d87199bd;
        padding: 5px 25px;
        color: #fff;
        font-weight: bold;
      }